@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-primary: #FFB7B2; /* Pastel Red */
  --color-secondary: #ffdac1; /* Pastel Orange */
  --color-accent: #e2f0cb; /* Pastel Green */
  --color-background: #fdf6e3; /* Soft Cream */
  --color-text-main: #5d5c61; /* Soft Dark Grey */
  --color-card-bg: #ffffff;
  
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-text-main);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
